{% extends "../base.html" %}
{% block meta %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
{% endblock %}

{% block body %}
    <div id="topbar">
        <span id="title">Avtryck</span>
        <span id="user">
            Inloggad som <a href="jonas.com">Jonas Beckman</a> | <a href="/account">Mitt Konto</a> | <a href="/friends">Vänner</a>
        </span>
    </div>
    <div id="placeedit">
        <div id="editlabel">
            Redigera plats
        </div>
        <div id="placemeta">
            <input id="placemetatitle" type="text" value="Runsten"></input>
            <textarea id="placemetadescription">Gunvid och Torgärd de lät resa sten efter Torsten, sin son...</textarea>
        </div>
        Kopplade post(er):<br> <a href="http://asfasf">Runsten (k-samsök)</a>
        <div id="placewalker">
            <button id="left">&lt;</button>
            <div id="position"><strong>1</strong> av <strong>4</strong></div>
            <button id="right">&gt;</button>
        </div>
    </div>
    <div id="map_canvas" style="width:100%; height:100%"></div>
{% endblock %}
